<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>同源策略</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h2 class="page-header">同源策略</h2>
    <button class="btn btn-primary">点击获取用户数据</button>
  </div>
</body>
</html>

<script>
  const btn = document.querySelector('button');
  btn.onclick = function(){
    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/data');
    //发送
    xhr.send();
    xhr.onreadystatechange = function(){
      if(xhr.readyState === 4){
        if(xhr.status >= 200 && xhr.status < 300){
          console.log(xhr.response);
        }
      }
    }
  }
</script>